curs 2/mp04/uf1/ejercicio7/persones/Fitxes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fitxes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Fitxa" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="edat" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="número" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
